.signup-container{
  display: flex;
  /* justify-content: center; */
  padding: 20px;
  background-color: #f9f9f9;  
}
.container{
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  width: 50%;
  height: 1520px;
  margin-top: 100px;
  margin-left: 480px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #a1232b; /* Red border */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); /* Shadow */
}

h1 {
  font-size: 30px;
}
.signup-h1{
  padding-top: 20px;
}
.detail-p{
  font-size: 1.4rem;
  color: #000000;
  margin-left: 300px;
}
p{
  font-size: 18px;
}

form{
  display: flex;
  /* flex-direction: column; */
  margin-top: 20px;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select{
  margin-bottom: 20px;
  padding: 10px;
  width: 82.5%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.signup-btn button{
  display: block;
  margin-left: 140px;
  margin-right: auto;
  width: 70%; 
  padding-left: 0px;
  padding: 15px 24px;
  min-width:150px;
  margin-top: 40px;
  background-color: #a1232b;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
}

button:hover {
  background-color: #800d1c;
}

.center-text{
  text-align: center;
  margin-top: 30px;
}